/*
  File: styles.css
  Author: CS100 Team
  Date Created: 23 July 2023
  Copyright: CSTU
  Description: CSS code of CSTU Passport that validate with JS
*/

/* Set the font family for the entire body */
/* for mobile phones */
* {
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  box-sizing: border-box;
 }
body {
  padding-bottom: 200px;
  margin: 0;
  background-color: rgb(30, 30, 30);
  }
  /* Styling for the form container */
  .form-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: rgb(75, 59, 45);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Center-align the heading and add margin at the bottom */
  .form-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Styling for each form group */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Styling for form group labels */
  .form-group label {
    display: block;
    font-weight: bold;
  }
  
  /* Styling for various form input types */
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group select,
  .form-group textarea,
  .form-group input[type="datetime-local"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Allow vertical resizing for textareas */
  .form-group textarea {
    resize: vertical;
  }
  
  /* Styling for select dropdowns */
  .form-group select {
    width: 100%;
  }
  
  /* Styling for the submit button */
  .form-group input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Styling for small helper text */
  .form-group small {
    font-size: 12px;
    color: #888;
  }
  
  /* New styles for error messages */
  
  /* Position the error message relatively within the form group */
  .form-group {
    position: relative;
  }
  
  /* Styling for error messages */
  .error {
    color: red;
    display: block;
    margin-top: 5px;
  }
  .show {
    max-width: 900px;
    margin: 20 auto;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .navbar {
    background: #111111;
    height: 100px;
    margin-bottom: 20%;
  }
  .header {
    text-shadow: 5px 6px black;
    color:whitesmoke;
    width: 100%;
    height: 50px; 
    margin-top: 5%;
    margin-left: 3%;
    margin-bottom: 3%;
  }
  
  .container {
    display: flex;
    flex-direction: column;
  }
  
  .menu button{
    width: 25%;
    height: 30px;
    border-radius: 5px;
    border: 0 white solid;
    margin: 0 0 5px 0;
    transition: 0.25s;
    width: 100%;
    background-color: #007acc;
    color:whitesmoke;
    height: 30px;
  }
  
  .container button:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  
  .dropdown {
    display: flex;
    justify-content: center;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    transition: 0.25s;
    border-radius: 5px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    margin-top: 35px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
  }
  
  
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-card {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191919; 
    border-radius: 10px;
    width: 70%;
    height: 600px;
  }
  
  .image-card img {
    width: 200px;
    border-radius: 5px;
    margin-top: 8%;
  }

input{
  color: rgb(0, 0, 0);
}
  
a {
  transition: 0.25s;
}

a:hover {
  opacity: 0.5;
}

.navbar {
  background: #111111;
  height: 120px;
  margin-bottom: 20%;
}

.header {
  text-shadow: 5px 6px black;
  color:whitesmoke;
  width: 100%;
  height: 50px; 
  margin-top: 5%;
  margin-left: 3%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: row;
}

.header h1 {
  margin-top: 11px;
}

.container {
  display: flex;
  flex-direction: column;
}

.menu button{
  width: 25%;
  height: 30px;
  border-radius: 5px;
  border: 0 white solid;
  margin: 0 0 5px 0;
  transition: 0.25s;
  width: 100%;
  background-color: #007acc;
  color:whitesmoke;
  height: 30px;
}


.container button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.dropdown {
  display: flex;
  justify-content: center;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  transition: 0.25s;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
  margin-top: 35px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-card {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #191919; 
  border-radius: 10px;
  width: 350px;
  height: 600px;
}

.image-card img {
  width: 200px;
  border-radius: 5px;
  margin-top: 8%;
}

footer {
  display: flex;
  flex: 1;
  justify-content: center;
  position: fixed;
  align-items: center;
  bottom: 0 ;
  right: 0;
  width: 100%;
  background-color: #111111;
  height: 50px;
  font-weight: bold;   
  color: whitesmoke;
}

.logo img {
  margin-right: 20px;
  width: 100px; 
  height: 70px;
  filter: brightness(100);
}

 /* for Desktop*/
@media screen and (min-width: 1024px) {

  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
  }

  .header {
    width: 100%;
    margin: 0 0 20px 20px;
  }

  .header h1 {
    margin-top: 30px;
  }

  .logo img {
    width: 200px;
    height: 120px;
  }

  .menu { 
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }
  .menu button {
    margin-right: 20px;
    width: 200px;
  }

  .main-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .image-card {
    width: 350px;
  }
  .image-card img {
    width: 250px;
    height: 320px;
  }
  .dropdown-content {
    margin-right: 18px;
  }

}

 /* for Tablet */
 @media screen and (min-width: 767px) and (max-width: 1023px) {

.image-card {
  width: 60%;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
}

.menu { 
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.menu button {
  margin-right: 20px;
  width: 150px;
}

.header {
  width: 100%;
  margin: 0 0 20px 20px;
}

.dropdown-content {
  margin-right: 18px;
}

}
 