 /* for mobile phones */
html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(30, 30, 30);
}

p {
  color: white;
}

body {
  margin-bottom: 300px;
}

.header {
  text-shadow: 5px 6px black;
  color:whitesmoke;
  width: 100%;
  height: 50px;
  margin-bottom: 3%;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.menu button{
  width: 25%;
  height: 30px;
  border-radius: 5px;
  border: 0 white solid;
  margin: 0 0 5px 0;
  transition: 0.25s;
  width: 100%;
  background-color: rgb(0, 122, 204);
  color:whitesmoke;
}

.container button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.image-card {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.image-card img {
  width: 200px;
  border-radius: 5px;
}

footer {
    display: flex;
    flex: 1;
    justify-content: center;
    position: fixed;
    align-items: center;
    bottom: 0 ;
    right: 0;
    width: 100%;
    background-color: #191919;
    height: 50px;
    font-weight: bold;   
    color: whitesmoke;
}